{% extends "base.html" %}
{% block content %}
<h2>About Us</h2>
    <p style="font-family:'Poppins', sans-serif">Kimhut Coffee
        We selling coffee , ស្រា,Beer ,​ នំសាវិត ,ភីសា, បុកល្អុរ ,ម្ជូរគ្រប់មុខ ,នំបុ័រគៀប់,ការ៉េម, កាហ្វេដូង, តែប៉ៃតងដូង,
        កាហ្វេទឹកដោះគោស្រស់/ខាប់, កាហ្វេទឹកកក  កាពូជីណី, ឡេតេ ,កាហ្វេសូកូឡាក្រឡុក, តែប៉ៃតងក្រឡុក ,Passion /fresh fruit
        ,លក់សំលៀកបំពាក់ ,បន្លែធម្មជាតិ។</p>

<p>We are a neighborhood coffee shop serving classic espresso, iced favorites, and fresh bakery items.</p>
{% endblock %}